@import 'colors';

* {
  font-family: Roboto;
}

.all-books-list {
  background-color: $wild-sand;
  display: flex;
}

.back-button {
  display: flex;
  justify-content: center;
  margin: 30px;
  font-size: 18px;
  
  &::before {
  display: flex;
  background: url('images/back-arrow-20.png') no-repeat;
  content: '';
  height: 25px;
  margin-right: 5px;
  position: relative;
  width: 25px;;
  }
}

.book-content-row {
  margin: 15px;
}

.book-cover-page {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $black-shadow;
  display: flex;
  position: relative;
  height: 416px;
  margin: 50px 0 0 50px;
  width: 900px;
  
  &::after {
  background: url('images/badge.png') no-repeat;
  content: '';
  height: 120px;
  left: 210px;
  position: absolute;
  transform: rotate(1deg);
  width: 100px;
  }
}

.book-detail {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $black-shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin: 15px;
  width: 200px;
}

.book-detail-container {
  display: flex;
  justify-content: center;
}

.book-genre {
  color: $grey;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.book-header {
  border-bottom: 5px solid $earls-green;
  margin: 10px 0 15px 15px;
}

.book-img {
  display: flex;
  margin: 25px;
  width: 250px;
}

.book-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 25px 0 10px;
}

.book-list-img {
  height: 200px;
  margin: 30px 30px 5px;
  width: 140px;
}

.book-list-info {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px 30px;
}

.book-navbar {
  background-color: $white;
  border-top: 5px solid $cerulean;
  box-shadow: 0 4px 10px 0 $black-shadow;
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
}

.book-title {
  color: $black;
  font-size: 30px;
  font-weight: 700;
  line-height: 10px;
  margin: 25px 15px 25px 0;
} 

.books-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 100px;
}

.books-list-row {
  display: flex;
  justify-content: center;
}

.default-text {  
  color: $grey;
  font-size: 20px;
  line-height: 25px;
}

.category {
  color: $black;
  font-weight: 700;
  margin-right: 5px;
}

.list-author-info {
  color: $grey;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 10px;
}

.list-title-info {
  color: $black;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin: 5px 0;
}

.logo-wolox {
  display: flex;
  margin-left: 200px;
}

.logout-navbar {
  color: $black;
  display: flex;
  font-size: 18px;
  line-height: 21px;
  margin: 25px 250px 25px 25px;
}
