@import 'colors';

* {
  font-family: Roboto;
}

.book-content-row {
  margin: 15px;
}

.book-cover-page {
  display: flex;
  margin: 50px 0 0 50px;
  height: 416px;
  width: 900px;
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $black-shadow;
}

.book-genre {
  color: $grey;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.book-header {
  margin: 10px 0 15px 15px;
  border-bottom: 5px solid $earls-green;
}

.book-info {
  display: flex;
  flex-direction: column;
  margin: 0 25px 0 10px;
  flex-grow: 1;
}

.book-img {
  display: flex;
  margin: 25px;
  width: 250px;
}

.book-title {
  color: $black;
  font-size: 30px;
  font-weight: 700;
  line-height: 10px;
  margin: 25px 15px 25px 0;
} 

.default-text {  
  color: $grey;
  font-size: 20px;
  line-height: 25px;
}

.category {
  color: $black;
  font-weight: 700;
  margin-right: 5px;
}
