@import 'colors';

* {
  font-family: Roboto;
}

.book-content-row {
  margin: 15px;
}

.book-cover-page {
  display: flex;
  margin-top: 10px;
}

.book-genre {
  color: $grey;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.book-header {
  margin-top: 10px;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 125px;
  margin-left: 10px;
}

.book-img {
  display: flex;
  margin: 10px 15px 0 25px;
  width: 250px;
}

.book-title {
  color: $black;
  font-size: 30px;
  font-weight: 700;
  line-height: 10px;
  margin: 10px 15px 25px 10px;
} 

.default-text {  
  color: $grey;
  font-size: 20px;
  line-height: 25px;
}

.category {
  color: $black;
  font-weight: 700;
  margin-right: 5px;
}

.rectangle {
  background-color: #BED23C;
  margin: 0 0 30px 10px;
}
