<body>
  <div class="login-container">
    <div class="login-inputs">
      <img class="logo-wolox-login" src="../../assets/LogoWolox-Original.png"  alt="Wolox Logotype" />
      <div class="form-container">
        <form class="form-login" action="/index.html" id="form-login">
          <div class="form-group">
            <label class="form-label" for="email">Nombre</label>
            <input class="default-rectangle form-input" type="text" id="email" name="name" />
          </div>
          <div class="form-group">
            <label class="form-label" for="password">Apellido</label>
            <input class="default-rectangle form-input" type="text" id="password" name="last-name" />
          </div>
          <div class="form-group">
            <label class="form-label" for="password">Email</label>
            <input class="default-rectangle form-input" type="text" id="password" name="email" />
          </div>
          <div class="form-group">
            <label class="form-label" for="password">Password</label>
            <input class="default-rectangle form-input" type="text" id="password" name="password" />
          </div>
          <div class="form-group">
            <label class="form-label" for="password">Confirmación de Password</label>
            <input class="default-rectangle form-input" type="text" id="password" name="password-confirm" />
          </div>
          <button class="default-rectangle form-button-green" type="submit">Sing Up</button>
          <button class="default-rectangle form-button-empty" type="button">Login</button>
        </form>
      </div>
    </div>
  </div>
</body>

